body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	color: #efefef;
	background-color: #333;
	display: flex;
	flex-flow: column;
}
header {
	margin: 0px;
	padding: 8px;
	flex: 1 1 auto;
	position: sticky;
	top: 0;
	background-color: #222;
}
input {
	border: 1px solid #CCC;
	background-color: transparent;
	color: #CCC;
}
input[type=button] {
	border-left: 4px solid #CCC;
	border-bottom: 4px solid #CCC;
	cursor: pointer;
	padding: 8px;
}
input[type=button]:hover {
	color: #FFF;
	border-color: #FFF;
}
input[type=text] {
	border: none;
	border-bottom: 1px solid #CCC;
	color: #FFF;
	width: 400px;
	max-width: 60%;
	padding:8px;
}
#refresh-button {
	content: "&#10227;"
}
#clear-home-button:hover {
	color: #C33;
	border-color: #C33;
	background-color: #CCC;
}
#content {
	overflow-y: auto;
	flex-grow: 1;
	width: 800px;
	max-width: 90%;
	margin: 0px auto;
}
#settings {
	list-style: none;
}
#calls {
	list-style: none;
	padding: 0px;
	margin: 0px 12px 0px 0px;
}
#calls li {
	padding: 8px;
}
#calls li:nth-of-type(even)
{
	background-color: #444;
}
.address span {
	display: block;
	text-transform: lowercase;
}
.address span:first-of-type {
	font-weight: bold;
}
h3 {
	margin: 0px 0px 4px 0px;
}
.created {
	margin: 4px 0px;
	padding: 0px;
	font-size: .8em;
}
.priority {
	font-size: 1em;
	padding: 2px;
	border: 1px solid #999;
}
.agency {
	font-size: .8em;
	padding: 2px;
	border: 1px solid #999;
}
.jurisdiction {
	font-size: .8em;
	font-weight: bold;
}
.battalion {
	font-size: .8em;
}
.battalion::before {
	content: "/ ";
}